.Blog-post{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 40px 40px;
    width: 1000px;
    text-align: center;
    background-color:whitesmoke;
    /* gap: 50px; */
    
}

@media screen and (max-width: 580px) {
    .Blog-post{
       display: flex;
       align-items: center;
       margin: auto;
       width: 400px;
    
       img{
        width: 350px;
       }

       h1{
         font-size: 25px;
       }
       p{
        font-size: 15px;
       }
       h2{
        font-size: 20px;
       }
       h5{
        font-size: 14px;
       }
    }
}