.Product-page{
    /* border: 1px solid black; */
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    padding:50px 250px;
    gap: 70px;
}

@media screen and(max-width:580px) {
    .Product-page{
      flex-wrap: wrap;

    }
}

