.Container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 350px;
    gap: 30px;
    padding-top:60px ;
    padding-bottom:60px ;
}

img{
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px;
    /* height: auto; */
}

h1{
    font-size: 40px;
    color: rgb(29, 44, 44);
}

h2{
    color: rgb(63, 61, 61);
}