.Blog-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap:500px;
   /* background-color: rgb(17, 14, 14); */
   color: azure;
   border-top:1px solid darkgrey; 
   border-radius: 30px;
   /* width: 100px; */

}

img{
    width: 800px;
    border-radius: 10px;
    
}

h1{
    font-size: 50px;
    text-align: center;
    color:rgb(3, 3, 5)
}
h2{
    font-size: 30px;
    color: rgb(0, 0, 0);
}
p{
    font-size: 20px;
    color:rgb(3, 3, 3);
    font-style: oblique;
    font-weight: 600;
}
h5{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

@media screen and (max-width:580px){
    .Blog-container{
        width:500px;
    
    }
}